<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>District01 Slack</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" style="display:none">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Rooms</h1>
    </md-toolbar>

    <md-list class="rooms">
      <md-list-item ng-repeat="it in users" class="room">
          <md-button ng-click="selectUser(it)" ng-class="{'selected' : it === selected }">
            <img ng-src="{{it.image}}"/>
            <span>
            {{it.name}}
        </span>
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Slackie</h1>
    </md-toolbar>

    <md-content flex id="content">
        <h2>{{selected.name}}</h2>
        <md-list role="list" class="md-default-theme chat" style="height:500px; overflow-y:scroll">
            <md-list-item class="md-2-line md-no-proxy" role="listitem" ng-repeat="message in messages">
                <div class="md-list-item-text">
                    <h3 class="ng-binding">{{message.Name}}</h3>
                    <p>{{message.Content}}</p>
                </div>
            </md-list-item>
        </md-list>
        <div class="new-message">
            <textarea ng-model="message"></textarea>
        </div>
    </md-content>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/users/MessageFactory.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.1.0.min.js"></script>
    <script src="http://slackie.azurewebsites.net/signalr/hubs"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
